/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

/*----- Global Styling------*/
* {margin: 0; padding: 0;}
body {
    background-color: #D4A76A;
    text-align: center;
    font-size: 1.3rem;
}

a {
    text-decoration: none; 
    color: white;
    background-color: #805215;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
a:hover {
    background-color:#553100;
}

/*----- Header------ */
header {
    background-color: #FFDBAA;
    color: #553100;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    border-bottom: solid black 2px;
    padding: 2vw;
}
h1 {
    /* background-color: green; */
    font-size: 3rem;
}

/*Nav*/
nav {
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */
    width: 50vw;
}
nav a {
    width: 20%;
    font-size: 2rem;
    border: none;
}

/*----- Main -----*/
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 30vh;
    margin: 1% 3%;
    padding: 0 1%;
    box-shadow: 0 2px 6px rgba(0,0,0,.6);
}

.hero {
    display: flex;
    justify-content: center;
}

.hero .card {
    max-width: 25%;
    margin: 2%;
}